  <footer class="">
    <div class="footer container">
      <p>Made with ❤️ by The App Brewery</p>
    </div>
  </footer>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>